<!DOCTYPE html>
<html>
  <head>
    <title>Nicokare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'parts/header' %>

  <!-- ログイン後のページでは横幅を広くする -->
  <% if params[:controller] == 'home'%>
    <div class="home_container">
      <% if notice.present? %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert.present? %>
        <p class="alert"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
  <% else %>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  <% end %>
  </body>
</html>
